.ranking-btn {
  background-color: transparent;
  border: 0;
  padding: 3px solid rgba(255,255,255,0.35);
  color: rgba(255,255,255,.3);
  font-size: 14px;
}

.ranking-btn:active {
  color: #bb86fc;
}